html,
body,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 100%;
}

body {
    background-color: #e4a1c1;
}

h1 {
    font-size: 300%;
    text-align: center;
    margin-top: 1em;
    color: rgb(62,92,62);
}

.box1,
.box2 {
    background-color: #f5d2dc;
    padding: 50px;
    margin: 10px;
    width: 500px;
    height: 500px;
    font-size: 200%;
    border-radius: 10%;
    border: #f5d2dc solid 10px;
    position: relative;
}

img {
    width: 20vw;
    height: 30vw:
    position: absolute;
    bottom: 10%;
    right: 10%
}