html,
body,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 100%;
}

body {
    background-color: rgb(150,230,155);
}

h1 {
    font-size: 300%;
    text-align: center;
    margin-top: 1em;
    color: rgb(62,92,62);
}

.box1,
.box2 {
    background-color: rgb(153,204,255);
    padding: 50px;
    margin: 10px;
    width: 500px;
    height: 500px;
    font-size: 200%;
    border-radius: 10%;
    border: rgb(153,204,255) solid 10px;
    position: relative;
}